<h1>Name: @Model["currentPlayer"].GetName()</h1>
<h1>Health: @Model["currentPlayer"].GetHealth()</h1>
<h1>Mood: @Model["currentPlayer"].GetMood()</h1>
<h1>Money: @Model["currentPlayer"].GetMoney()</h1>



  <ul>
    <li>@Model["selectedScenario"].GetScenarioName()</li>
  </ul>

  <h2>@Model["selectedScenario"].GetPromptText()</h2>


  <form action='/scenarios/@Model["selectedScenario"].GetScenarioId()' method='post'>
    <input type="hidden" name="buttonVal" value="1" />
    <button type='submit' id="choice1" value=1>@Model["selectedScenario"].GetOpt1ChoiceText()</button>
  </form>
  <form action='/scenarios/@Model["selectedScenario"].GetScenarioId()' method='post'>
    <input type="hidden" name="buttonVal" value="2" />
    <button type='submit' id="choice2" value=2>@Model["selectedScenario"].GetOpt2ChoiceText()</button>
  </form>
  <form action='/scenarios/@Model["selectedScenario"].GetScenarioId()' method='post'>
    <input type="hidden" name="buttonVal" value="3" />
    <button type='submit' id="choice3" value=3>@Model["selectedScenario"].GetOpt3ChoiceText()</button>
  </form>
