<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You lost on day @Model["day"]</title>
  </head>
  <body>
    <h2> Bummer, @Model["currentPlayer"].GetName(). You lost on day @Model["day"].</h2>
    <h3> Money: @Model["currentPlayer"].GetMoney()</h3>
    <h3> Health: @Model["currentPlayer"].GetHealth()</h3>
    <h3> Mood: @Model["currentPlayer"].GetMood()</h3>
  </body>
</html>
