<!DOCTYPE html>
@{
  Layout = "_Layout";
}

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="/scripts/jquery-3.3.1.js"></script>
    <title>You lost on day @Model["day"]</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <br>
        <h3> GAME OVER!! @Model["currentPlayer"].GetName(). You lost on day @Model["day"].<br>Money: @Model["currentPlayer"].GetMoney()<br>Health: @Model["currentPlayer"].GetHealth()<br>Mood: @Model["currentPlayer"].GetMood()<br>
          <br> Your final score is: @Model["currentPlayer"].GetMoney()
          <img class="gameover" src="/img/gameover.png">
          <br><a href="/player"><a href="/player"><img class="newgameimg" src="/img/newgame.png"></a>
          <!-- <form action='/player/@Model["currentPlayer"].GetName()/@Model["currentPlayer"].GetMoney()/end' method='post'>
            <button type='submit'>Save result and start new game!</button>
          </form> -->
        </h3>
      </div>
    </div>

  </body>
</html>
